body {
    background-color: rgb(173, 200, 209);
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
}

h1 {
    background-color: rgb(238, 190, 70);
}

h2 {
    color: rgb(130, 42, 18);
}

p {
    color: rgb(25, 16, 84);
}

.texto-cap2-1 {
    color: rgb(82, 27, 11);
}

.texto-cap2-2 {
    color: rgb(82, 27, 11);
}